# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Pytest / caches
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log

homeworks/HW03/eda-cli/src/s03.egg-info/
homeworks/HW04/eda-cli/src/eda_cli.egg-info/

homeworks/HW08-09/data
homeworks/HW10-11/data
homeworks/HW13/outputs/
homeworks/HW14/data/